@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
.main{
  display: flex;
  height: 100vh;
  margin-bottom: 10%;
  flex-direction:row;
  align-items: flex-start; 
  justify-content: space-around;
  
}

#h1_head{
  text-align: center;
  /* color : white; */
  background: transparent;
  padding:  5px;
  font-size: 4.5vw;
  font-family: 'Helvetica';
  /* color: #56f2e6;  */
  color: white;
  border-bottom: 5px solid #282828;
  margin-bottom: 20px;
}

.touch{
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto',sans-serif;
  color : white;
  padding-bottom: 8vh;
}

/* section{
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 30px;
} */

.register{
  /* max-width: 968px; */
  /* width: 90vh; */
  /* border: 1px solid #e9ecef; */
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap:40px;
  align-items: center;
  /* background-color: rgb(255, 255,  255); */
  /* backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(43, 43, 43, 0.75); */
  border-radius: 12px;
  /* border: 1px solid rgba(255, 255, 255, 0.125); */
  height: 100%;
  width: 45%;
}
.numbers{
  display: flex;
   /* background-color:aqua; */
  border-radius: 10x;
  width: 90%;
  height:57%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: start;
  gap: 10px;
  padding: 10px;
  font-family: 'Cinzel', serif;
font-family: 'Noto Serif', serif;
 
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(145, 7, 187, 0.7),
    0px 0px 5px rgba(38, 4, 160, 0.7),
    0px 0px 5px rgba(227, 3, 178, 0.7),
    0px 0px 10px rgba(146, 2, 165, 0.7);
  border: 2px solid white;

}
.namesof{
  text-shadow: none;
  color:rgb(156, 148, 148);
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
}
.name{
  font-size: 30px;
  text-decoration: none;
}
.a_tag{
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  /* color: #190061; */
  color: rgb(147, 90, 143);
  font-size: 80%;
}
.touch{
  font-size: 1.5vw;
}
#feedback{
  font-size: 4vw;
   color: white;
  font-family: 'Helvetica';
  border-bottom: 5px solid #282828;


  
}

.btn{
  color: #e9ecef;
  font-family: Helvetica;
  font-weight: 700;
  border-radius: 10px;
  padding: 20px 50px;
  border: none;  
  cursor: pointer;
    background-color: #3500D3;
}


.btn:hover{
  background-color:#e9ecef;
  color : #3500D3;
  transition: 0.2s ease;
 }

.form_contactus{
  display: flex;
  /*background-color:rgb(58, 221, 40);
  */height:fit-content;
  width: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*box-shadow: 0 0 5px #240090, 0 0 15px #240090, 0 0 15px #240090, 0 0 6px #240090;
  */box-shadow: 0px 0px 10px rgba(145, 7, 187, 0.7),  0px 0px 5px rgba(38, 4, 160, 0.7),  0px 0px 5px rgba(227, 3, 178, 0.7),  0px 0px 10px rgba(146, 2, 165, 0.7);
  border: 2px solid white;
  border-radius:10px ;
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  -ms-border-radius:10px ;
  -o-border-radius:10px ;
}
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #d305c9;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 20px;
  margin-bottom: 10px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  cursor: pointer;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
 
input{ width: 60%; border-radius: 10px; background-color:black; color: white; margin: 30px; padding: 30px; border: 2px solid #e402ce; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px;
}
input::placeholder{
color: #56f2e6;
}

.left-div_contact{
width: 50%;
/* background-color: red; */
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
height: 100%;
/* height: 200%; */

}
.title_name{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #a705a7;
  /* text-shadow: rgb(254, 65, 100) 0px 0px 5px, rgb(254, 65, 100) 0px 0px 5px, rgb(254, 65, 100) 0px 0px 15px; */
  /* color: white; */
  
}
@media screen and (max-width : 1024px){
.main{
  /* padding-bottom: 10vh; */
  /* background-color:green; */
  display: flex;
  /* height: 100vh; */
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: max-content;
  /* background-color:#101115; */
  /* justify-content: center; */
}
.left-div_contact{
width: 98%;
padding:30px 0px;
/* background-color: red; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
/* height: 200%; */


}
.numbers{
  display: flex;
  /* background-color:aqua; */
  padding: 10px;
  border-radius: 10px;
  width: 98%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: start;
  gap: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  /* background-color: rgba(43, 43, 43, 0.75); */
  border-radius: 12px;

  box-shadow: 0px 0px 10px rgba(145, 7, 187, 0.7),
  0px 0px 5px rgba(38, 4, 160, 0.7),
  0px 0px 5px rgba(227, 3, 178, 0.7),
  0px 0px 10px rgba(146, 2, 165, 0.7);
border: 2px solid white;
}
.name{
  font-size: 4vw;
}

#h1_head{
  font-size: 8vw;
}
.register{
/* max-width: 968px; */
/* width: 90vh; */
/* border: 1px solid #e9ecef; */
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
/* background-color: rgb(255, 255, 255); */

height: fit-content;
width: 90%;
}
.touch{
  font-size: 4vw;
}
#feedback{
  font-size: 8vw;
  margin: 20px;
  /* color: #56f2e6; */
  color: #3500D3;
}
.form_contactus{
  width: 95%;
}
input{
padding: 15px;
width: 80%;
}
.btn{
  background-color: rgb(255, 14, 14);
  color: #fcffff;
  border-radius: 10px;
  padding: 10px 30px;
  border: none;  
  font-size:20px;
  font-weight: bold;
  cursor: pointer;
}
}