
:root {
  --trojan-title: 'Assassin$';
  --title-font: 'Poppins', sans-serif;
  --title-color: #DCDCDC;
  --trojan-title-font-weight: 400;
  --trojan-title-font: 96px;
  --line-color: #fff;
  --timer-color: #9133F5;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000;
  }
  
  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .countdown-item {
    text-align: center;
    margin: 0 20px;
  }
  
  .countdown-number {
    font-size: 120px;
    font-family: var(--title-font);
    color:var(--timer-color);
  }
 
  
  .countdown-label {
    font-size: 40px;
    color: var(--line-color);
    font-family: var(--trojan-title);
    
    text-transform: uppercase;
    letter-spacing: 1px;

  }