@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
.nav_container {
  width: 98.9vw;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  /* background-color: #000000; */
  width: 100vw;
  font-family: cursive;

}

.laptop_nav{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
  position: fixed;
  z-index: 99;
  background-color:black;
}
a{
  text-decoration: none;
    color: rgb(195, 40, 210);
}
.links{
text-decoration: none;
}
.links:hover{
  opacity: 0.5;
}
.nav_2{
  display: flex;
  /* background-color: green; */
  width: 50%;
  justify-content: space-around;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + .nav-ico,
.menu-icon:not(:checked) + .nav-ico {
  position: fixed;
  top: 50px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + .nav-ico:before,
.menu-icon:not(:checked) + .nav-ico:before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  /* transition: border-width 100ms 1500ms ease,
    top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1); */
}
.menu-icon:checked + .nav-ico:after,
.menu-icon:not(:checked) + .nav-ico:after {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #eceeee;
  margin-top: -1px;
  /* transition: width 100ms 1750ms ease, right 100ms 1750ms ease,
    margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1); */
}
.menu-icon:checked + .nav-ico:before {
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  /* transition: border-width 100ms 340ms ease,
    top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1); */
}
.menu-icon:checked + .nav-ico:after {
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  /*transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1); */
}

.nav {
  position: fixed;
  font-family: "Montserrat", cursive;
  top: 15px;
  right: 50px;
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  color: black;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: black;
  opacity: 100px;

}


.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  /* position: relative; */
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200%;
  height: 200vh;
  overflow: hidden;
  /* transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease,
    width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
    height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1); */
}
.check{
  color:white;
}
.mobile_nav{
  display: none;
}
@media screen and (max-width: 850px) {
  .laptop_nav{
    display: none;
  }
  .mobile_nav{
    display: flex;
  }
  .menu-icon:checked + .nav-ico,
  .menu-icon:not(:checked) + .nav-ico {
    right: 60px;
  }

  .nav {
    right: 30px;
  }

  .nav .pt-5 .nav-lst .nvg-opt {
    font-size: 6vh;
    text-decoration: dotted;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    /* text-shadow: 0 0 5px #da0556; */
  }
  .nvg-opt:hover:before {
    content: attr(data-text);
    opacity: 0.3;
    color: rgb(171, 177, 177);
    left: 50%;
    z-index: -1;
    letter-spacing: 3px;
    font-size: 70px;
    width: 180px;
    height: 180px;
    text-shadow: none;
  }
}

.pt-5 {
  position: relative;
  margin-top: 50px;
  padding: 10px;
}
.pt-5 .nav-lst {
  list-style: none;
  text-align: center;
  position: relative;
  top: 10px;
  padding: 3px;
  font-size: 15px;
}
.pt-5 .nav-lst .nvg-opt {
  background-image: linear-gradient(to right, #eb42eb, #4e0e8f);
  -webkit-background-clip: text;
  color: transparent;  text-decoration: none;
  font-family: var(--title-font);
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
  text-shadow: 0 0 3px rgb(147,3,150,0.5);
  padding: 20px;
}
.pt-5:hover .nav-lst .nvg-opt {
  color: #0002;
}
.pt-5 .nav-lst:hover .nvg-opt {
  color: #000;
  background: rgba(255, 255, 255, 1);
}
.nvg-opt:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: rgba(105, 105, 105, 0.1);
  text-shadow: none;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s;
}
.nvg-opt:hover:before {
  content: attr(data-text);
  opacity: 0.3;
  color: rgb(22, 203, 203);
  left: 50%;
  z-index: -1;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
  text-shadow: none;
}
/* li:nth-child(6n + 1) a:before {
  background: #81ecec;
}
.pt-5 li:nth-child(6n + 2) a:before {
  background: #ff7675;
}
.pt-5 li:nth-child(6n + 3) a:before {
  background: #55efc4;
}
.pt-5 li:nth-child(6n + 4) a:before {
  background: #a29bfe;
}
.pt-5 li:nth-child(6n + 5) a:before {
  background: #fd79a8;
}
.pt-5 li:nth-child(6n + 6) a:before {
  background: #ffeaa7;
} */