

@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Poppins:wght@200;300;400;500&display=swap');


:root {
    --trojan-title: 'Assassin$';
    --title-font: 'Poppins';
    --title-color: #DCDCDC;
    --trojan-title-font-weight: 400;
    --trojan-title-font: 96px;
    --line-color: #fff;
    --timer-color: #9133F5;
    --register-filter: drop-shadow(7px 7px 5px rgba(148, 87, 235, 0.61));
    --event-box: #101010 ;
    --button-text: 'Iceland';


}


body{
    background-color: #000;
}


.homePage{
    background-color: #000;
    color:white;
    /* overflow: hidden; */
}

#register_b{
    position: relative;
    top: 40px;
}
.intro{
    background-color: black;
    height:fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.hero{
    display:flex;
    margin-top:10%;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height:fit-content;
    gap:10px;
}

.timer{
    margin-top: 2%;
}

.trojanshead{
    color: #dbdbdb;
    font-family: var(--trojan-title);
    font-size: 250px;
    font-weight: 400;
    letter-spacing: 25px;
    line-height: normal;
    position: absolute;
}
p{
    text-align:justify;
}
.line{
    border-top:2px solid var(--line-color);
    margin-inline:20px;
    width:85%;
}

.heroTrojans{
    color:var(--title-color);
    font-family: var(--trojan-title);
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 6.4px;
    line-height: normal;
    width: 498px;
}

.heroDesc{
    color:var(--title-color);
    font-family: var(--trojan-title);
    font-size: 48px;
    font-weight: var(--trojan-title-font-weight);
    letter-spacing: 4.8px;
    line-height: normal;
    white-space: nowrap;
    width: 897px;
}

.heroDate{
    color:var(--line-color);
    font-family: var(--trojan-title);
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 4.8px;
    line-height: normal;
    white-space: nowrap;
    /* width: 586px; */
}

.registerBox{
    height: 364px;
    width: 505px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.registerButton {
    color: #ffffff;
    font-family: var(--button-text);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    width: fit-content;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid white;
    background-origin: border-box;
    background-clip: content-box, padding-box, padding-box, padding-box;
    filter: var(--register-filter);
}
.registerButton:hover{
    background:rgba(96, 3, 96, 0.1);
    color:white;
    cursor:pointer;
    /* box-shadow: none; */
}

.homeAbout{
    height:fit-content;
    margin:10%;
}

.aboutHead{
    display:flex;
    margin:0;
    justify-content: center;
    align-items: center;
}
.aboutHead2{
    font-size: 40px;
    font-family:var(--title-font);
    letter-spacing: 4px;
    /* border:1px solid var(--line-color); */
    /* border-radius: 40px; */
    padding:20px;
    text-transform: uppercase;
    /* background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0,131)100.2%); */
}
.aboutContainer{
    display: flex;
    flex-direction: column;
    width:100%;
}
.firstAbout{
    display: flex;
}
.firstAbout2{
    display: flex;
}
.leftAbout{
    flex:1;
    /* padding:20px; */
    justify-content: center;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 1px;
    font-family: var(--title-font);
}
.rightAbout{
    display:flex;
    justify-content: center;
    align-items: center;
    /* padding:20px; */
    flex:1;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 1px;
    font-family:var(--title-font);
}

.logo2{
    width: 50%;
    height: 88%;
}

.eventHead{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.eventHead2{
    font-size: 40px;
    font-family: var(--title-font);
    letter-spacing: 4px;
    border-radius: 40px;
    padding:10px;
    position: relative;
    top: 70px;
    text-transform: uppercase;
    /* background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0,131)100.2%); */
}


.eventContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:5%;
    gap:5%;
}

.eventBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30%;
    margin:2%;
    border-radius: 30px;
    padding:5%;
    height:fit-content;
    border:2px solid var(--line-color);
    background: var(--event-box);
    font-family: var(--trojan-title);
    box-shadow:0px 0px 10px rgba(145, 7, 187, 0.7),
    0px 0px 5px rgba(38, 4, 160, 0.7),
    0px 0px 5px rgba(227, 3, 178, 0.7),
    0px 0px 10px rgba(146, 2, 165, 0.7);
    font-size: 40px;
    padding:10px;
    gap:20px;
    cursor:pointer;
}


.eventImage{
    position: relative;
    width: 80%;
    height: 80%;
}


@media screen and (max-width:1240px){
    
    .homePage{
        color:white;
        width: 100%;
    }

    .homeLogo{
        width: 150%;
    }


.trojanshead{
    color: #dbdbdb;
    font-size: 400%;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: normal;
    position: absolute;
}



.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroTrojans{
    color: #dbdbdb;
    /* font-family: "Assassin$-Regular", Helvetica; */
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 3.2px;
    line-height: normal;
    width: 248px;
}

.heroDesc{
    color: #ffffff;
    /* font-family: "Assassin$-Regular", Helvetica; */
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.8px;
    line-height: normal;
    white-space: nowrap;
    width: fit-content;
}


.heroDate{
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1.8px;
    line-height: normal;
    white-space: nowrap;
    width: 286px;
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    width:100%;;
}

.aboutHead{
    height: fit-content;

}
.firstAbout{
    display: flex;
    flex-direction: column;
}
.firstAbout2{
    display: flex;
    flex-direction: column-reverse;
}

.aboutLogo{
    width: 80%;
    height:50%
}

.logo2{
    margin-top: 10%;
}
.leftAbout{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventContainer{
    flex-direction: column;
    gap:20px;
    /*-----------------*/
}
.eventBox{
    width: 80%;
    font-size: 20px;
    border-radius: 20px;
}
.eventHead2{
    font-size: 30px;
    border-radius: 30px;
    padding: 15px;
    position: relative;
    top: 0;
}


}